{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>The JellyBean Nebula</title>
    <meta name="description" content="Better Service Through the Mastery of My Intuition">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="{% static 'index/style.css' %}" rel="stylesheet">

    <!-- Flaticon -->
    <link rel="icon" type="image/png" href="{% static 'index/reshot-icon-planets-5LU7G42Z9N.svg' %}" />

    <!-- BALISE CANONIQUE -->
    <link rel="canonical" href="">

  </head>
  
  <body>
  <noscript>
    You must activate javascript to view this website !
  </noscript>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#social" class="w3-bar-item w3-button">Social Media</a>
        </div>
      </div>
      <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
  </div>

  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
    <a href="#social" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SOCIAL MEDIA</a>
  </div>
  <a id="top"></a>
  <section class="mainView">

    <style>
      body {
        background-image: url('{% static 'index/Y2bRO740FhNnqA1ZHZGK68847x.jpg' %}');
        background-repeat: no-repeat;
      }
      </style>

    <h1 class="rellax" data-rellax-speed="2">The JellyBean Nebula</h1>
    <h2 id="slogan"></h2>

  </section>

  <a id="band"></a>
  <section class="band">
    <h2 class="animatableX"><&nbsp;Unexpected Expectations&nbsp;></h2>
    <div class="separator animatableOpacity"></div>
    <p class="hardLight animatableY" lang="en">
      " Dreamy synth indie space rock from the far reaches of the outer MidWest...  "
    </p>
    <p class="animatableY">
      A band, guitarist, vocalist and songwriter from the lead mines of Missouri. Trapped insidie a bedroom, they managed to create the dreamy synth-driven soundscape with a mix of ambient serenity and heartwarming melodies.
      <br />
      They make and release music that is colorful, quirky, and alive. Sometimes it feel like I'm in a dream.
      <br />
      Lonely people need a chance to dance. You don't have to listen to me. You may not like what I have to say.
      <br />
      The brave band with a state of the art song making system.
      <br /><br />
      It's a never-ending battle between the cosmic forces of good and evil, with The Nebula serving as an willing conduit for all this energy, whether they like it or not.
    </p>
    <div class="imgContent">
      <div class="card animatableY">
        <img class="lazyload" src="{% static 'index/jellybeannebula1551512151.jpg' %}" data-src="{% static 'index/jellybeannebula1551512151.jpg' %}" alt="Guitarist The JellyBean Nebula">
        <noscript>
          <img src="{% static 'index/jellybeannebula1551512151.jpg' %}" alt="Album Cover Art">
        </noscript>
        <p>Unexpected Expectations</p>
        <p>The JellyBean Nebula</p>
      </div>
    </div>
  </section>

  <a id="tour"></a>

  <a id="nextShow"></a>
  <section class="nextShow">
    <h2 class="animatableX">Next show</h2>
    <div class="separator animatableOpacity"></div>
    <div class="ss-nextShow">
      <p class="hardLight animatableY">
        09 / 24 / 2022 | Crawl Space, Joplin
      </p>
    </div>

  </section>
  <a id="date"></a>
  <section class="date">
    <h2 class="animatableX">Shows</h2>
    <div class="separator animatableOpacity"></div>

      <!-- Table date -->
      <table>
        <tr class="animatableY">
          <td>11/29/2255</td>
          <td><span class="white"><a href="">Caloris Basin</a></span><br />Mercury</td>

        </tr>
        <tr class="animatableY">
          <td>09/20/2255</td>
          <td><span class="white"><a href="">Valles Marineris</a></span><br />Mars</td>

        </tr>
        <tr class="animatableY">
          <td>07/26/2255</td>
          <td><span class="white"><a href="">Great Red Spot</a></span><br />Jupiter</td>

        </tr>
        <tr class="animatableY">
          <td>07/20/2255</td>
          <td><span class="white"><a href="">South Polar Geysers</a></span><br />Enceladus</td>

        </tr>
        <tr class="animatableY">
          <td>05/10/2255</td>
          <td><span class="white"><a href="">Triton and Proteus</a></span><br />Neptune</td>

        </tr>
      </table>

    </section>

    <section class="blocNewsletter">
      <h2 class="miniTitle animatableY">Keep update</h2>
      <p class="miniPara animatableY"><br />Don't miss the next shows</p>
      <form class="newsletterForm  animatableY">
        <input aria-label="Entrez votre email" type="email" name="emailNews" id="emailNews" value="" placeholder="Email" required>
        <input type="submit" name="valider" value="Subscribe">
        <div id="hideNews">
          <div>
            <label class="miniPara" for="checkRobotNews">Are you human ?</label>
          </div>
          <div>
            <input type="number" id="checkRobotNews" name="checkRobotNews" value="" placeholder="Result of 4 + 3 ?">
          </div>
        </div>
        <p class="hidePara" aria-hidden="true" id="helpMailNews"></p>
      </form>
      <p aria-hidden="true" id="retourNewsFormulaire"></p>
    </section>


  <a id="music"></a>
  <section class="music">
    <h2 class="animatableX">Discover</h2>
    <div class="separator animatableOpacity"></div>
    <div class="ss-music">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/9Cr9ZY1tNkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>

  <a id="contact"></a>
  <section class="contact">
    <h2 class="animatableX">Contact</h2>
    <div class="separator animatableOpacity"></div>

    <p class="hardLight">
      -&nbsp;<&nbsp;The JellyBean Nebula&nbsp;>&nbsp;-
      <br />
      Outer Space
    </p>
    <p id="insertMail" class="hardLight"></p>

    <form class="contactForm">

      <input aria-label="Saisissez votre nom" type="text" id="nom" name="nom" value="" required placeholder="Name">
      <p class="hidePara" aria-hidden="true" id="helpNom"></p>

      <input aria-label="Saisissez votre numéro de téléphone" type="text" id="telephone" name="telephone" value="" placeholder="Phone">
      <p class="hidePara" aria-hidden="true" id="helpTel"></p>

      <input aria-label="Saissisez votre adresse email" type="email" id="mail" name="mail" value="" required placeholder="Email">
      <p class="hidePara" aria-hidden="true" id="helpMail"></p>

      <textarea aria-label="Entrez votre message" id="message" name="message" rows="8" cols="80" placeholder="Message"></textarea>

      <p class="labelP">Subscribe newsletter ?</p>
      <div class="label">
        <div class="inscriptionCheck">
          <input type="radio" id="oui" name="newsletter" value="oui" checked>
          <label for="oui">Yes</label>
        </div>
        <div class="inscriptionCheck">
          <input type="radio" id="non" name="newsletter" value="non">
          <label for="non">No</label>
        </div>
      </div>

      <input type="number" id="checkRobot" aria-label="Contrôle anti robot : Saisissez le résultat de 3 + 4" name="checkRobot" value="" placeholder="Result of 3 + 4">
      <p class="hidePara" aria-hidden="true" id="helpRobot"></p>
      <input type="submit" name="valider" value="send">
    </form>
    <p class="hidePara" aria-hidden="true" id="retourFormulaire"></p>
  </section>

  <img id="upArrow" src="{% static 'index/upArrow.svg' %}" alt="Retour haut du site">

  <a id="social"></a>


  <footer>
    <div class="footerBaner">
      <p class="bolder">estd</p>
      <img class="bandBanner" src="{% static 'index/reshot-icon-planets-5LU7G42Z9N.svg' %}" alt="">
      <p class="bolder">2022</p>
    </div>
    <p class="bolder"><&nbsp;The JellyBean Nebula&nbsp;></p>
    <!-- Bloc share -->
    <div class="socialBanner">
        <img class="facebook" src="{% static 'index/hollow-cut-facebook.svg' %}" alt="The The JellyBean Nebula sur facebook">
        <img class="instagram" src="{% static 'index/hollow-cut-instagram.svg' %}" alt="The The JellyBean Nebula sur instagram">
        <img class="tiktok" src="{% static 'index/tiktok-icon.svg' %}" alt="The The JellyBean Nebula sur facebook">
        <img class="youtube" src="{% static 'index/hollow-cut-youtube.svg' %}" alt="The The JellyBean Nebula sur facebook">
        <img class="bandcamp" src="{% static 'index/bandcamp.svg' %}" alt="The The JellyBean Nebula sur facebook">
        <img class="twitter" src="{% static 'index/hollow-cut-twitter.svg' %}" alt="The The JellyBean Nebula sur facebook">
    </div>

    <p>Copyright 2022 | <a href="">All Rights Reserved</a></p>
  </footer>

    <!-- Lazyload-->
    <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js" crossorigin></script>

    <script defer
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous">
    </script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js" crossorigin></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" crossorigin></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js" crossorigin></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" crossorigin></script>
    <script defer src="{% static 'index/mainFunctions.js' %}"></script>
  </body>
  </html>
